    <div class="header">
        <div class="container header__container">
            <div class="header__logo" style="background-image: url(../assets/images/logo.png);"></div>
            <nav class="header__navbar">
                
                <ul class="navbar__list">
                    <i class="fa-solid fa-xmark close-navbar hide-on-pc"></i>
                    <li class="navbar__item">
                        <a class="navbar__link active" href="index.html">trang chủ</a>
                    </li>
                    <li class="navbar__item drop-down--container">
                        <a class="navbar__link">thương hiệu</a>
                        <ul class="drop-down--content">
                            <li class="drop-down--item navbar__item">
                                <a class="drop-down--item-link navbar__link" href="audi.html">audi</a>
                            </li>
                            <li class="drop-down--item navbar__item">
                                <a class="drop-down--item-link  navbar__link" href="">BMW</a>
                            </li>
                            <li class="drop-down--item navbar__item">
                                <a class="drop-down--item-link  navbar__link" href="">vinfast</a>
                            </li>
                        </ul>
                    </li>
                    <li class="navbar__item">
                        <a class="navbar__link" href="">giới thiệu</a>
                    </li>
                    <li class="navbar__item">
                        <a class="navbar__link" href="">tin tức</a>
                    </li>
                    <li class="navbar__item">
                        <a class="navbar__link" href="">liên hệ</a>
                    </li>
                </ul>
            </nav>
            <div class="header__icon">
                <div class="header__search">
                    <input type="search" name="search" id="search">
                    <label for="search"><i class="fa-solid fa-magnifying-glass"></i></label>
                </div>
                <div class="header__cart-icon">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <ul class="header__cart-icon--drop-down">
                        <h2 class="header">Sản phẩm của bạn</h2>
                        <li>1</li>
                        <li>2</li>
                        <li>3</li>
                        <li>4</li>
                    </ul>
                </div>

                <div class="bars">
                    <i class="fa-solid fa-bars open-navbar hide-on-pc"></i>
                </div>
            </div>
        </div>
    </div>
