@import "/assets/css/header.css";
@import "/assets/css/footer.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');

:root {
    --primary-color: #f14607;
    --white-color: #fff;
    --black-color: #000;
    --border-color: #bababa;
    --text-color: #333;
    --white-text-color: #ececec;
    --gray-color: #adadad;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "Roboto", sans-serif;
}


@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes grow-up {
    from {
        transform: scale(var(--scale-from));
    }
    to {
        transform: scale(var(--scale-to));
    }
}

.fade-in {
    animation: fade-in 0.3s linear;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
}

.button {
    min-width: 60px;
    min-height: 20px; 
    overflow: hidden;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    position: relative;
}

.button-effect1 {  
    border: none;
    color: var(--white-color);
    background-color: var(--primary-color);
}

.button-effect2 {
    border-radius: 6px;
    text-transform: uppercase;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    letter-spacing: 3px;
    z-index: 1;
}

.button-effect1::before, 
.button-effect2::before {
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    left: 50%;
    transform-origin: center center;
    transform: translateX(-50%);
    transition: all 0.3s ease;
}

.button-effect1::before { 
    background-color: rgba(255, 255, 255, 0.2);
}

.button-effect2::before { 
    background-color: var(--primary-color);
    z-index: -1;
}

.button:active {
    transform: scale(0.95);
}

.button:hover::before {
    width: calc(100% + 20px);  
}

.button:hover {
    color: var(--white-color);
}

.hidden {
    display: none;
}