

/* info-customer  */
.inner-wrap{
    display: flex;
    justify-content: space-between;
  
}
.form-control {
    display: block;
    width: 100%;
    padding: 2rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.8;
    color: #ffffff;
    /* background-color: #ff0b0b !important; */
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.set-width{
    width: 47%;
}
.info-people input, textarea, select{
    margin-top: 10px;
    margin-bottom: 18px;
    /* padding: 10px; */
}
