/* Mobile */
@media (max-width: 575px) {

}

/* Mobile and tablet */
@media (max-width: 1023px) {
    /* Header */
  
    .header__navbar {
        position: fixed;
        right: 0;
        bottom: 0;
        top: 0;
        width: 70%;
        transform: translateX(100%);
        transition: transform 0.3s linear;
        background-color: var(--black-color);
    }

    .fade-in  {
        transform: translateX(0);
    }

    .navbar__list {
        flex-direction: column;
        margin-top: 100px;
        height: 100vh;
        display: block;
        background-color: #000;
    }

    .drop-down--content > .navbar__item {
        padding: 10px 30px;
       
    }

    .navbar__item:hover {
        background-color: #959595;
    }

    .navbar__link {
        color: var(--white-color);
        display: block;
        padding: 10px 30px;
    }

    /* .drop-down--container:hover .drop-down--content {
        height: 123px;
    } */

    .show-link {
        height: 123px !important;
    }

    .drop-down--content {
        position: static;
        /* display: none; */
        height: 0;
        transition: all 0.3s linear;
        overflow: hidden;
    }

    .drop-down--content::before {
        display: none;
    }

    .drop-down--item {
        border: none;
    }

    .drop-down--item a {
        color: var(--white-color);
        padding: 0;
    }

    .bars .open-navbar {
        display: block;
    }

    .navbar__list .close-navbar {
        position: absolute;
        top: 30px;
        left: 50px;
        color: #fff;
    }

    .drop-down--content {
        width: 100%;
        top: 60px;
        right: 0;
    }

    .header__cart-icon, .header__search {
        display: none;
    }

    .car__item {
        flex-direction: column;
        align-items: center;
        /* display: block; */
        /* background-color: red; */
    }
    
    .car__item-left {
        width: 100%;
    }

    .car__item-right {
        width: 100%;
        padding: 30px 0 10px;
        margin: 0 auto;
    }
}


/* Tablet and low pc */
@media (min-width: 576px) and (max-width: 1023px) {
    

}


@media (min-width: 1024px) {
    .navbar__list > .navbar__item::before{
        position: absolute;
        content: '';
        height: 3px;
        width: 0;
        bottom: 0;
        left: 0;
        transform: skew(-30deg);
        background-color: var(--primary-color);
        transition: width 0.3s linear;
    }
    
    .navbar__item:hover::before {
        width: 100%;
    }

    .navbar__link:hover:not(.active) {
        color: var(--primary-color);
    }
    

    .hide-on-pc {
        display: none;
    }

    .drop-down--content {
        border-radius: 6px;
        border: 1px solid #e4e4e4;
        box-shadow: 0px 0 6px rgba(0, 0, 0, 0.1);
        transform-origin: top right;
        background-color: #fff;
        display: none;
        --scale-from: 0;
        --scale-to: 1;
        animation: fade-in 0.3s linear, grow-up 0.3s linear;
    }


    
}